<div>
    <img id="portadams" src="{{persona.portada}}" alt="" >
</div>

<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="{{persona.img}}" class="img-fluid" id="fotodeperfil" alt="">
    </div>
    <div  class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombrems">{{persona.nombre}} {{persona.apellido}}</p>
        <p>{{persona.titulo}}</p>
    </div>
    <div  class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <button *ngIf="isLogged" type="button" class="fa fa-pencil btn btn-primary tooltips" data-bs-toggle="modal" data-bs-target="#editPersonaModal" (click)="onOpenModal('edit',persona)"></button>
        <span>
            <h1>About me</h1>
            <p>{{persona.despcripcion}}</p>
        </span>
    </div>
</div>


<div
 class="modal fade"
 id="editPersonaModal"
 tabindex="-1"
 role="dialog"
 aria-labelledby="editPersonaModalLabel"
 aria-hidden="true"
>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="updatePersonaModalLabel"> Editar Persona</h5>
      <button
      type="button"
      class="close"
      data-bs-dismiss="modal"
      aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #editForm="ngForm" (ngSubmit)="onUpdatePersona(editForm.value)">
        <input type="hidden"
        ngModel="{{editPersona?.id}}"
        name="id"
        class="form-control"
        id="id"
        placeholder=""
        required
        >
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text"
            ngModel="{{editPersona?.nombre}}"
            name="nombre"
            class="form-control"
            id="nombre"
            placeholder="Nombre"
            required
            >
          </div>
          <div class="form-group">
            <label for="apellido">Apellido</label>
            <input type="text"
            ngModel="{{editPersona?.apellido}}"
            name="apellido"
            class="form-control"
            id="Apellido"
            placeholder="apellido"
            required
            >
        </div>
          <div class="form-group">
            <label for="titulo">Titulo</label>
            <input type="text"
            ngModel="{{editPersona?.titulo}}"
            name="titulo"
            class="form-control"
            id="titulo"
            placeholder="Titulo"
            required
            >
        </div>
        <div class="form-group">
            <label for="despcripcion">Descripcion</label>
            <input type="text"
            ngModel="{{editPersona?.despcripcion}}"
            name="despcripcion"
            class="form-control"
            id="despcripcion"
            placeholder="Descripcion"
            required
            >
        </div>
        <div class="form-group">
            <label for="portada">URL de Portada</label>
            <input type="text"
            ngModel="{{editPersona?.portada}}"
            name="portada"
            class="form-control"
            id="portada"
            placeholder="Portada"
            required
            >
        </div>
          <div class="form-group">
            <label for="img">URL de Imagen</label>
            <input type="text"
            ngModel="{{editPersona?.img}}"
            name="img"
            class="form-control"
            id="img"
            placeholder="Imagen"
            required
            >
        </div>        
          <div class="modal-footer">
              <button
              type="button"
              id=""
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              >
              Cerrar
              </button>
              <button
              type="submit"
              data-bs-dismiss="modal"
              class="btn btn-primary"
              >
              Guardar Cambios
              </button>
          </div>
      </form>
    </div>
  </div>

</div>
</div>