<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 d-flex justify-content-center align-items-center">
    <img src="../../../assets/logoAP.png" id="logoAP">
  </div>
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 d-flex justify-content-center align-items-center ">
  <app-social-media></app-social-media>
</div>
  <div id="boton" class="col-xs-12 col-sm-1 col-md-1 col-lg-1 d-flex justify-content-center align-items-center m-10">
        <button type="button" class="btn btn-primary" (click)="login()" *ngIf="!isLogged">INGRESAR</button>
        <button type="button" class="btn btn-primary" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
  </div>
    
  
  
</div>